.gameListTitle {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .gameList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .gameListItem {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .gameListItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .gameSummary {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .teamNames {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .awayTeam, .homeTeam {
    color: black; 
  }
  
  .vs {
    color: #555; 
  }
  
  .score {
    font-size: 1.5rem;
    color: #444;
    margin: 5px 0;
  }
  
  .awayScore, .homeScore {
    font-weight: bold;
  }
  
  .summaryText {
    font-size: 1rem;
    color: #555; 
    margin-top: 5px;
  }
  
  .videoLink {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: grey; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .videoLink:hover {
    background-color: black; 
  }
  
  .gameSummary {
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  

  